<!--
	    This Source Code Form is subject to the terms of the GNU General Public License:
	   
	    Copyright (C) 2021-2025 PokeTube Of Poke Project, a part of The Poke Project Initiative (initiative.poketube.fun) 
	    source code :https://codeberg.org/ashleyirispuppy/poke
	
	    This program is free software: you can redistribute it and/or modify
	    it under the terms of the GNU General Public License as published by
	    the Free Software Foundation, either version 3 of the License, or
	    (at your option) any later version.
	
	    This program is distributed in the hope that it will be useful,
	    but WITHOUT ANY WARRANTY; without even the implied warranty of
	    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	    GNU General Public License for more details.
	
	    You should have received a copy of the GNU General Public License
	    along with this program. If not, see https://www.gnu.org/licenses/.
	-->
<%
  const playlist = typeof p !== "undefined" && p !== null && typeof p === "object" ? p : null;
  const hasPlaylist = playlist !== null;

  const safeMediaProxy = typeof mediaproxy !== "undefined" && mediaproxy ? mediaproxy : "";
  const proxyBase = safeMediaProxy ? `${safeMediaProxy}/proxy?url=` : "/proxy?url=";

  const playlistTitle = hasPlaylist && playlist.title ? playlist.title : "Playlist unavailable";
  const playlistDescription = hasPlaylist && playlist.description ? playlist.description : "";
  const playlistThumbnail = hasPlaylist && playlist.playlistThumbnail ? playlist.playlistThumbnail : "";
  const playlistAuthor = hasPlaylist && playlist.author ? playlist.author : "Unknown";
  const playlistVideoCount = hasPlaylist && playlist.videoCount ? playlist.videoCount : 0;
  const playlistViewCount = hasPlaylist && typeof playlist.viewCount === "number" ? playlist.viewCount.toLocaleString() : "0";
  const playlistMixId = hasPlaylist && playlist.mixId ? playlist.mixId : null;
  const playlistVideos = hasPlaylist && Array.isArray(playlist.videos) ? playlist.videos : [];

  let firstVideoId = null;

  if (playlistVideos && playlistVideos.length > 0 && playlistVideos[0].videoId) {
    firstVideoId = playlistVideos[0].videoId;
  } else if (playlistThumbnail && playlistThumbnail.includes("/vi/")) {
    firstVideoId = playlistThumbnail.split("/vi/")[1].split("/")[0];
  }
%>
<!DOCTYPE html>
<html style="background:#000000">
<head>
    <title>Poke | <%- playlistTitle %></title>
    <link href="/css/yt-ukraine.svg?v=6" rel=icon>
    <link rel="manifest" href="/manifest.json">
    <meta content=website property=og:type>
    <meta name="viewport" content="width=device-1200px, initial-scale=1.0, shrink-to-fit=yes, viewport-fit=cover">
    <meta content="Poke - <%- playlistTitle %>" property=og:title>
    <meta content="<%- playlistDescription %>" property=twitter:description>
    <% if (firstVideoId) { %>
    <meta content="<%- proxyBase %>https://i.ytimg.com/vi/<%- firstVideoId %>/hqdefault.jpg" property="og:image" />
    <% } else if (playlistThumbnail) { %>
    <meta content="<%- proxyBase %><%- playlistThumbnail %>" property="og:image" />
    <% } %>
    <meta content=summary_large_image name=twitter:card>
    <link href="/css/app-cdn.min.css?v=2" rel=stylesheet>
    <link href="/css/app.main.css?v=44600" rel=stylesheet>
    <link href="/css/watch.main.css?v=56" rel=stylesheet>
    <link href="https://p.poketube.fun/https://site-assets.fontawesome.com/releases/v6.1.1/css/all.css" rel=stylesheet>
<style>
   a.class:hover {
    font-weight:bold
}
  summary{
    color:gray;
}
summary:hover {
    color:white;
}

</style>
   <style>
    body{
        overflow-x: hidden;
        color:#111111;
    }

    @font-face {
   src: url("/static/robotoflex.ttf");
       font-family: "PokeTube Flex";
      font-style: normal;
      font-stretch: 1% 800%;
      font-display: swap;
    }
    
    :root {
    --text-primary: #fff;
    --text-secondary: #fff;
    --text-link: #3ea6ff;

    --app-background: #111111;
    --context-menu-background: #333;
    --border-color: #444;
    --item-hover-background: #373737;
    --item-active-background: #383838;

    --top-bar-background: #202020;
    --guide-background: #212121;

    --thumbnail-background: #252525;

    --channel-info-background: #181818;
    --channel-contents-background: #0f0f0f;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  opacity: 1;
  transition: opacity 0.6s;
  margin-bottom: 15px;
}

.alert.success {background-color: #04AA6D;}
.alert.info {background-color: #2196F3;}
.alert.warning {background-color: #ff9800;}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
a{
border-radius:9.5px
}
    
.video-list > p {
font-family:Ubuntu
}
.closebtn:hover {
  color: black;
}
.thumbnail {
  position: relative;
  display: inline-block;
}

.thumbnail .hover-text {
    display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);  
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
}

.thumbnail:hover .hover-text {
  display: block;
}

.thumbnail .video-length {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.thumbnail:hover .video-length {
  display: none;
}
.playlist-video > .info > .title {
    border-radius:0em;
    max-height: 1.9em;
}

.playlist-info>.title {
  font-family: "PokeTube flex";
  font-stretch: ultra-expanded;
  font-weight: 600;
}

.playlist-info{
  position: sticky;
  top:0;
}

<% if (firstVideoId) { %>
.playlist-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 13em;
  height: 447px;
  background-size: cover;
  filter: blur(53px);
  backdrop-filter: blur(157px);
  z-index: -1;
  background-image: url('<%- proxyBase %>https://i.ytimg.com/vi/<%- firstVideoId %>/hqdefault.jpg');
  margin-left: 82px;
}
<% } else if (playlistThumbnail) { %>
.playlist-info::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 13em;
  height: 447px;
  background-size: cover;
  filter: blur(53px);
  backdrop-filter: blur(157px);
  z-index: -1;
  background-image: url('<%- proxyBase %><%- playlistThumbnail %>');
  margin-left: 82px;
}
<% } %>

.playlist-error {
  margin-left: auto;
  margin-right: auto;
  width: 56em;
  color: white;
  font-family: Inter, sans-serif;
  padding-top: 7em;
}

.playlist-error-box {
  background: #181818;
  border: 1px solid #333;
  border-radius: 1em;
  padding: 2em;
}

.playlist-error-box h1 {
  margin-top: 0;
  color: white;
}

.playlist-error-box p {
  color: #aaa;
}
  
  </style>
 </head>
 
<body>
    
     <nav>
      <div class="left"><a class="class" href="/143" style=font-family:Inter,sans-serif;color:#fff> <img style="transform: scale(1.3);padding-left:0.9em;width: 8.5em;display: block;margin-left: auto;margin-right: auto;" src="/css/logo.svg?v=5">         </a>             </div>                                    
      <div class="middle">
      <div class="search">
        
        <form action="/search">
   <input class="search-bar" autocomplete="on" id="fname" name="query" placeholder="" style="color:#fff;font-family:Inter,sans-serif;border-radius: 8px;" data-ddg-inputtype="identities.firstName">
  

          <button class="btn btn-success" type="submit"><i class="fa-light fa-search"></i></button>
        
        </form>
  
      </div>
 
      </div>
      <div class="right">
      <a href="/privacy" style="text-decoration: none;" title="Privacy Policy">
          <i style="display: block;margin-left: auto;margin-right: auto;" class="fa-light fa-shield"></i>
        </a>
       
        
      </div>
    </nav>

<% if (hasPlaylist) { %>
<div class="playlist-page" style="margin-left: auto;margin-right: auto;width: 56em;">
<div class="playlist-info" style="max-height: fit-content;border-radius: 1em;">
      <% if (!playlistMixId && firstVideoId) { %>  
		<a href="/watch?v=<%- firstVideoId %>" class="thumbnail" style="background-image: url('<%- proxyBase %>https://i.ytimg.com/vi/<%- firstVideoId %>/hqdefault.jpg');border-radius: 13px;border: 1px solid #ff0064">
        <span class="hover-text">Watch :3</span>
		</a>	
      <% } %>

		<p class="title"><%- playlistTitle %> </p>
          <% if (!playlistMixId) { %>  
		<span class="info"><%- playlistVideoCount %> videos • <%- playlistViewCount %> views  • by <%- playlistAuthor %> </span>
	  <% } %>

      <span class="description"><%- playlistDescription %></span>
		<div class="channel-info">
		 
		</div>
	</div>
	<div class="video-list playlist-video-list">
		     <% playlistVideos.forEach(video => { %>
  
    <div class="playlist-video">
      <a href="/watch?v=<%- video.videoId || '' %>" class="index">
           <%- typeof video.index === "number" ? video.index + 1 : "" %>
       </a>
 				<a href="/watch?v=<%- video.videoId || '' %>" class="thumbnail"
				   style="background-image: url('<%- proxyBase %>https://i.ytimg.com/vi/<%- video.videoId || '' %>/hqdefault.jpg?sqp=-oaymwEjCNACELwBSFryq4qpAxUIARUAAAAAGAElAADIQj0AgKJDeAE=&amp;rs=AOn4CLBibY6d4Dg0K69NC-0b7NFsD7AH1w');">
 				</a>
				<div class="info">
					<a href="/watch?v=<%- video.videoId || '' %>" class="title max-lines-2">
        <%- video.title || "Untitled video" %>
          </a>
					<div>
						<a href="/channel?id=<%- video.authorId || '' %>" style="border-radius:0em"><%- video.author || "Unknown" %></a><br>
            <a href="/download?v=<%- video.videoId || '' %>" style="border-radius:0em"> Download </a>
 					</div>
				</div>
			</div>

             <% }) %>
 	
 
</div>
 

</div>
</div>
<% } else { %>
<div class="playlist-error">
  <div class="playlist-error-box">
    <h1>Playlist unavailable</h1>
    <p>This playlist could not be loaded because its data was missing or invalid.</p>
    <a href="/" style="color:#3ea6ff;text-decoration:none;">Go home</a>
  </div>
</div>
<% } %>
      
<script src="/css/custom-css.js"> </script>
 
</body>
</html>